@import idendity/idendity.sass

.wrap
  max-width: 60em
  margin: 0 auto
  background: $ld-content-background
  padding: 2em
  color: $ld-font-color

h1
  +ld-headline
h2
 +ld-subline

p
  +ld-text

.swatch
  height: 7em
  width: 7em
  border-radius: 7em

.maincolor
  background: $ld-main